body {
  background-image: url("images/blackjackbackground.jpeg");
  font: 15px Arial, Helvetica, sans-serif;
}

button {
  background-color: red;
  margin: 0px 10px 10px 10px; 
  border-radius: 8px;
  size: "lg";
}
.startGame {
  display: flex;
  justify-content: center;
  color: red;
  size: 100rem;
}

.buttons {
  display: flex;
  justify-content: center;
  color: red;
  width: "100px";
  height: "20px"
}

form {
justify-content: center;
}

p {
  text-align: center;
  color: red;
  font-weight: 900;
  font-size: 20px;
}

p.blackjack {
  text-align: center;
  color: red;
  font-size: 70px;
  font-weight: 900;
  font-family: "Copperplate";
}

.betInput {
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  height: 62%;
  border: 3px solid red;
  border-radius: 8px;
}

.emptyCard {
  height: 150px;
  width: 108px;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

